[submodule "rmp/MotorControl"]
	path = rmp/MotorControl
	url = https://github.com/ROSMicroPy/rmp_pylib-MotorControl.git
[submodule "rmp/MicroPyServer"]
	path = rmp/MicroPyServer
	url = https://github.com/ROSMicroPy/rmp_pylib-micropyserver.git

[submodule "rmp/tmc5160"]
	path = rmp/tmc5160
	url = https://github.com/ROSMicroPy/tmc5160.git
[submodule "rmp/mks_servo42c"]
	path = rmp/mks_servo42c
	url = https://github.com/ROSMicroPy/mks_servo42c.git
